@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form action="/action_page">
    <label for="RollOff">Reason for Roll Off:</label>
    <select name="RollOff" id="RollOff">
        <option value="Project Closure ">Project Closure </option>
        <option value="Maternity Leave">Maternity Leave</option>
        <option value="Resigned">Resigned</option>
        <option value="Performance Issue">Performance Issue</option>
        <option value="HR Case  "> HR Case </option>
        <option value="People Skill">People Skill</option>
        <option value="Automation">Automation</option>
        <option value="    Quality ">Quality </option>
        <option value="New Delivery Model  ">New Delivery Model </option>
        <option value="Labour (Work force Productivity) ">Labour (Work force Productivity) </option>
        <option value="Client Budget Issues ">Client Budget Issues </option>
        <option value="Other reason ">Other reason </option> 
    </select>
    <br>
    <br>
    <input type="submit" value="Submit">
</form>

