@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Landing Page - Start Bootstrap Theme</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="file:///C:\Users\DNSURYAV\source\repos\RollOff\RollOff\Views\Home\StyleIndex.css" rel="stylesheet" />
</head>
<body>
    <!-- Masthead-->
    <header class="masthead">
        <div class="container position-relative">
            <div class="row">
                <div class="col-xl-6">
                    <div class="row text-center text-black-50 ml-4">
                        <h1>
                            MICROSOFT AZURE
                        </h1>
                        <h5>
                            RollOff for Employees
                        </h5>                    
                    </div>
                </div>
            </div>             <div class="col-xl-7">
                <div class="row-1">
                    <form method="get" asp.action="Index">
                        <div class="col-10">
                            <input class="form-control form-control-lg type="search" placeholder="Email Address or GlobalGroupID or Employee No" value="@ViewData["GetEmployeeDetails"]" name="empsearch" />                        
                        </div>
                        <br />
                        <div class="col-7">
                            <button class="btn btn-primary btn-lg disabled" id="submitButton" type="submit" value="Search" asp-action="Index">Submit</button>
                            </div>                         
                                    <a asp-action="Index">GetALLEmployees</a>
                    </form>
                </div>
            </div>
        </div>
    </header> 
</body>

